<script type="text/javascript">
  $(function(){
    $('#item_description').focus();
  });
</script>

<%= form_for([@list, Item.new]) do |f| %>
  <%= f.text_field :description %>
  <%= f.submit "Add", class: "button" %>
<% end %>

<div class="list">
  <% if !@list.items.empty? %>
      <ul class="items">
        <% @list.items.each do |item| %>
          <li>
            <%= item.description %>
            <%= link_to "Delete", list_item_path(@list, item), method: :delete, class: "button destroy" %>
          </li>
        <% end %>
      </ul>

    <%= link_to "Clear All", clear_list_items_path, method: :delete, class: "button destroy-all" %>

  <% else %>
    <div class="no-data">
      No items found
    </div>
  <% end %>
</div>